<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="easyQ Beta Automation" configfailurepolicy="continue">
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>
    <test name="Smoke Tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.EasyQHomepage"/>
            <class name="tests.EasyQLoginValidation"/>
            <class name="tests.EasyQLoginPasswordRemainingTest"/>
        </classes>
    </test>
</suite>
